<div class="footer">
    
    <div class="row justify-content-center">
        <div class="col-1 text-center">
            <img [src]=imgBeirut class="img-fluid rounded-circle" >
        </div>
        <div class="col-10">
            <h4>
                This platform is dedicated to managing post-disaster reconstruction projects in Beirut.
                Our goal is to facilitate the process and ensure efficient and sustainable rebuilding efforts.
            </h4>
        </div>
    </div>

    <div>
        <strong>Contact Us:</strong><br>
        Email: <a href="mailto:info@reconstructionplatform.com">info@reconstructionplatform.com</a><br>
        Phone: +1 (123) 456-7890
        <p>&copy; 2023 Reconstruction Platform. All rights reserved.</p>
    </div>
    
</div>
